/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el formulario */
.form-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
}

/* Estilos para el encabezado "Login" */
.form-value h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
.inputbox {
    margin-bottom: 15px;
}

.inputbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputbox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para el botón de envío */
input[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para los mensajes en el formulario */
p {
    margin: 10px 0;
    color: #ff0000;
}